body {
    padding-top: 5rem;
    background-image: url('https://images.unsplash.com/photo-1564933031273-7ed87369d6f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
